# python
__pycache__/
*.py[cod]
*.egg-info/
build/
dist/
.eggs/

# venv
.venv/
venv/
env/

# editor
.vscode/

# capsule artifacts
*.mcap
.capsule/

# os
.DS_Store

# test / coverage artifacts
.coverage
htmlcov/
.pytest_cache/
